<div data-role="navbar" class="custom-navbar">
<ul >
 @if (Model.type == "Student")
 {
    <li>@Html.ActionLink("Results", "Index", "Grades")</li>
    <li>@Html.ActionLink("Select Test", "Take", "Test", new { data_ajax = "false" })</li>
    
 }
    @if (Model.type == "Teacher")
    {
    <li>@Html.ActionLink("My Tests", "Index", "Test", new { data_ajax = "false", @class = "ui-btn-active" })</li>
    <li>@Html.ActionLink("Create Test", "Create", "Test", new { data_ajax = "false" })</li>
    <li>@Html.ActionLink("Admin", "Index", "Admin", null, new { data_ajax = "false" })</li>
        
    }
</ul>
</div>