@model InteractiveLearning.Models.PasswordResetModel

@{
    ViewBag.Title = "PasswordReset";
}

<link href="@Url.Content("~/Content/AccountStyle.css")" rel="stylesheet" type="text/css" />
@section Header {


}




<style>
    .field-validation-error {
        color: Red;
        display: block;
        text-align: center;
    }

    .footer {
        font-style: italic;
        color: Gray;
    }

    .a {
        border-radius: 10px 10px;
    }


    .password {
        background: url('../Content/images/password.png') no-repeat center left 5px;
        padding-left: 50px; /* depends on width of envelope image */
    }

    .classa {
        background: Green;
        position: absolute;
        margin: 0px 0px;
        width: 1000px;
        height: 1000px;
    }

    .greenbck {
        background: #0c5a55;
        border: 1px solid #00544e;
    }

    .user {
        background: url('../Content/images/user.png') no-repeat center left 5px;
        padding-left: 60px;
    }

    .userfield {
        margin-left: 20px;
    }
</style>
<div align="center">
    <img src="@Url.Content("~/Content/images/Picture_new.png")" />

</div>

@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new {  data_ajax = "false" }))
{
    @Html.ValidationSummary()
    <div id="centerdiv" >
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" class="greenbck">Password Reset</li>

            <li data-role="fieldcontain">
                @Html.LabelFor(m => m.UserName, new { @class = "user" })
                @Html.TextBoxFor(m => m.UserName,null, new { @class = "userfield" })
                <span class="field-validation-error" id="err-userID">Email Address</span>

            </li>



            <li>



                <fieldset class="ui-grid-a">

                    <div style="float:right;"><button type="submit" data-theme="f">Next</button></div>
                </fieldset>

            </li>




        </ul>
    </div>


    <div align="center">
        <h3 style="color:#0c5a55"><strong>Powered by: Center for Software Research & Development (CSRD)</strong></h3>
    </div>



}

<script type="text/javascript">
    $(document).ready(function () {
        $(".csrd").css("display", "none");
    });
    $("#err-u serID").hide();

    $("#UserName").live("focus", function () {
        $("#err-userID").show();
    });
    $("#UserName").live("blur", function () {
        $("#err-userID").hide();
    });

</script>