@model InteractiveLearning.Models.SetNewPasswordModel

@{
    ViewBag.Title = "SetNewPassword";
}

<style>
    .greenbck {
        background: #0c5a55;
        border: 1px solid #00544e;
    }
    .question {
        background: url('../Content/images/Question.png') no-repeat center left 5px;
        padding-left: 50px; /* depends on width of envelope image */
    }
    .password {
        background: url('../Content/images/password.png') no-repeat center left 5px;
        padding-left: 50px; /* depends on width of envelope image */
    }

</style>
@section Header {
    @Html.ActionLink("Cancel", "Index", "Test", null, new { data_icon = "arrow-l", data_rel = "back" })
}

<p>
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm("SetNewPassword", "Account", FormMethod.Post, new { data_ajax = "false" }))
{
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider" class="greenbck">Account information</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.PasswordQuestion, new { @class = "question" })
            @Html.TextBoxFor(m => m.PasswordQuestion, new { disabled = "true" })
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.PasswordAnswer, new { @class = "question" })


            @Html.PasswordFor(m => m.PasswordAnswer)
        </li>

        
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Password, new { @class = "password" })
            @Html.PasswordFor(m => m.Password)
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "password" })
            @Html.PasswordFor(m => m.ConfirmPassword)
        </li>

        <li data-role="fieldcontain">
            <center> <input type="submit" value="Change Password" data-theme="f" data-inline="true" /></center>
        </li>
    </ul>
}

